node-red-backup-final.json
[{"id":"ac961a3b.2c5c78","type":"tab","label":"Smart Entrance","disabled":false,"info":""},{"id":"4f39253f.59bc0c","type":"mqtt-broker","z":"","broker":"192.168.88.88","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"dce0d67c.45c848","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2323c5db.86c21a","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"e619e874.e206c8","type":"serial-port","z":"","serialport":"/dev/serial0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"5d8cef30.911b9","type":"websocket-listener","z":"","path":"/sendAdminCommand","wholemsg":"false"},{"id":"c6ef4fcd.109cb","type":"websocket-client","z":"","path":"ws://127.0.0.1:3002","tls":"","wholemsg":"true"},{"id":"b8ea9ccb.504ef","type":"websocket-client","z":"","path":"ws://127.0.0.1:3003","tls":"","wholemsg":"true"},{"id":"edc245ff.09e978","type":"function","z":"ac961a3b.2c5c78","name":"send command to micro","func":"var classid={payload:-1};\nif (!msg.payload.message){\n    if(!msg.payload.command || msg.payload.command===\"\"){\n        msg.payload.command = \"N\";\n    }\n    classid.payload=msg.payload.classId+msg.payload.command;\n    return classid;\n}\n","outputs":1,"noerr":0,"x":766.3928909301758,"y":193.0000638961792,"wires":[["8ab79e49.559d3","7f9107d5.844d48"]]},{"id":"1e22d512.d4672b","type":"debug","z":"ac961a3b.2c5c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":701.1428833007812,"y":443.2857666015625,"wires":[]},{"id":"e98833d0.6f8a2","type":"debug","z":"ac961a3b.2c5c78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":342.28570556640625,"y":81.57136535644531,"wires":[]},{"id":"57c4a737.317018","type":"http request","z":"ac961a3b.2c5c78","name":"","method":"POST","ret":"obj","url":"http://127.0.0.1:3000/client/takeSample","tls":"","x":530.7143058776855,"y":194.42852926254272,"wires":[["edc245ff.09e978"]]},{"id":"c4cb8279.6868e","type":"function","z":"ac961a3b.2c5c78","name":"send id to server","func":"var x={};\nx.headers = {\n    \"Content-type\" : \"application/json\",\n}\nconsole.log(msg.payload);\nx.payload = {rfId:msg.payload.split(\"\\r\")[1].split(\"\\n\")[0]};\nreturn x;","outputs":1,"noerr":0,"x":326.2857208251953,"y":209.99996948242188,"wires":[["57c4a737.317018"]]},{"id":"7f9107d5.844d48","type":"debug","z":"ac961a3b.2c5c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":961.4285736083984,"y":124.28576612472534,"wires":[]},{"id":"8ab79e49.559d3","type":"serial out","z":"ac961a3b.2c5c78","name":"","serial":"2323c5db.86c21a","x":1004.0000152587891,"y":189.75000254809856,"wires":[]},{"id":"d06fb1d4.073e1","type":"serial out","z":"ac961a3b.2c5c78","name":"","serial":"2323c5db.86c21a","x":728.75,"y":330,"wires":[]},{"id":"7edac1c3.74f01","type":"serial in","z":"ac961a3b.2c5c78","name":"","serial":"2323c5db.86c21a","x":123.75,"y":195,"wires":[["e98833d0.6f8a2","c4cb8279.6868e"]]},{"id":"4b293747.825be8","type":"websocket in","z":"ac961a3b.2c5c78","name":"","server":"","client":"b8ea9ccb.504ef","x":457,"y":363,"wires":[["1e22d512.d4672b","d06fb1d4.073e1"]]},{"id":"b2628716.3ea598","type":"websocket in","z":"ac961a3b.2c5c78","name":"","server":"","client":"c6ef4fcd.109cb","x":451,"y":430,"wires":[["d06fb1d4.073e1","1e22d512.d4672b"]]}]